* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.container {
  width: 85%;
  margin-inline: auto;
}
button a {
  cursor: pointer;
}
#header {
  padding-block: 30px;
  border-bottom: 0.3px solid #000000;
}
.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 5px;
}
nav {
  display: flex;
  gap: 50px;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: #1f2e35;
}
nav select {
  border: none;
  cursor: pointer;
}
.header-icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
#info {
  padding-block: 70px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-text h1 {
  font-size: 42px;
  width: 470px;
}
.info-text h1 span {
  color: #ee4248;
}
.info-text p {
  font-size: 18px;
  margin-block: 20px;
  line-height: 25px;
  color: #30444e;
  /* font-weight: 400px; */
}
.info-text button {
  padding: 12px 32px;
  background: #ee4248;
  font-size: 18px;
  color: #ffff;
  border: none;
  border-radius: 4px;
}
#about {
  padding-block: 40px;
  background: #f6f6f6;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text h1 {
  font-size: 32px;
  width: 400px;
}
.about-text span {
  color: #ee4248;
}
.about-text p {
  margin-top: 35px;
  width: 520px;
  font-size: 18px;
  margin-block: 20px;
  line-height: 25px;
  color: #30444e;
}
#product {
  padding-block: 70px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-block {
  padding-block: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-block .box {
  text-align: start;
}
.box h3 {
  font-size: 22px;
  font-weight: 400px;
  color: #ee4248;
}

.box p {
  width: 280px;
  font-size: 16px;
  margin-block: 20px;
  line-height: 25px;
}

.box button {
  padding: 8px 16px;
  background: #ee4248;
  font-size: 16px;
  color: #ffff;
  border: none;
  border-radius: 4px;
}
.contact {
  display: flex;
  align-items: flex-end;
  gap: 60px;
}
.contact-left h4 {
  margin-block: 15px;
  font-weight: 500;
}
.contact-left p,
.contact-right p {
  color: #000000c7;
  line-height: 25px;
  font-family: 300;
  font-size: 16px;
}
.contact-right h1 {
  font-size: 23px;
  margin-bottom: 18px;
  font-weight: 500;
}
#contact {
  padding: 0 0 30px 0;
}
#footer {
  background: red;
  padding-block: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  color: #ffff;
}
